@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: theme('colors.neutral.300');
  background-color: theme('colors.neutral.800');

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// disable pull-to-refresh
@media (display-mode: standalone) {
  :root {
    touch-action: none;
  }
}

a {
  font-weight: 500;
}

a:hover {
  color: #535bf2;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  @apply shadow-[inset_0_0_4px_2px_rgba(161,161,170,0.15)]
    bg-gradient-to-b from-[theme('colors.neutral.900')] to-[theme('colors.neutral.950')];

  &:active {
    @apply bg-gradient-to-b to-[theme('colors.neutral.900')] from-[theme('colors.neutral.950')];
  }

  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
    background-color: theme('colors.gray.100');
    border-color: theme('colors.gray.200');
    color: theme('colors.gray.500');
    pointer-events: none;
    box-shadow: none;
  }
}

button:focus,
button:focus-visible {
  // outline: 4px auto -webkit-focus-ring-color;
}

.btn-unstyled {
  border-radius: unset;
  padding: unset;
  font-size: 1em;
  font-weight: inherit;
  font-family: inherit;
  cursor: unset;
  transition: unset;
  box-shadow: unset; // undo box shadow

  background-image: unset; // undo gradient

  &:active {
    background-image: unset;
  }

  &:disabled {
    opacity: unset;
    cursor: unset;
    background-color: unset;
    border-color: unset;
    color: unset;
    pointer-events: unset;
    box-shadow: unset;
  }
}
